{% extends "base.html" %}
{% block content %}
<!----Featured Albumn Section Start---->
<div class="ms_fea_album_slider padder_top10 ">
    <div class="ms_heading">
        <h1>Featured Albums</h1>
        <span class="veiw_all"><a href="#">view more</a></span>
    </div>
    <div class="ms_album_slider swiper-container">
        <div class="swiper-wrapper">
            {% for album in albums %}
            <div class="swiper-slide">
                <div class="ms_rcnt_box">
                    <div class="ms_rcnt_box_img">
                        <img src="{{ url_for('static', filename=album.album_img) }}" alt="">
                        <div class="ms_main_overlay">
                            <div class="ms_box_overlay"></div>
                            <div class="ms_more_icon">
                                <img src="{{ url_for('static', filename='images/svg/more.svg') }}" alt="">
                            </div>
                            <ul class="more_option">
                                <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To
                                        Favourites</a>
                                </li>
                                <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add
                                        To Queue</a></li>
                                <li><a href="#"><span class="opt_icon"><span
                                                class="icon icon_dwn"></span></span>Download Now</a></li>
                                <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add
                                        To Playlist</a>
                                </li>
                                <li><a href="#"><span class="opt_icon"><span
                                                class="icon icon_share"></span></span>Share</a></li>
                            </ul>
                            <form action="{{ url_for('main.album_single', album_id=album.id) }}" method="GET">
                                <div class="ms_play_icon">
                                    <button class="btn" style="background-color:transparent"><img
                                            src="{{ url_for('static', filename='images/svg/play.svg') }}"
                                            alt=""></button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="ms_rcnt_box_text">
                        <h3><a href="#">{{ album.album_title }}</a></h3>
                        <p>{{ album.author_name }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- Add Arrows -->
    <div class="swiper-button-next3 slider_nav_next"></div>
    <div class="swiper-button-prev3 slider_nav_prev"></div>
</div>
<!---Recently Played Music--->
<div class="ms_rcnt_slider padder_top50">
    <div class="ms_heading">
        <h1>Trending Albums</h1>
        <span class="veiw_all"><a href="#">view more</a></span>
    </div>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            {% for album in albums %}
            <div class="swiper-slide">
                <div class="ms_rcnt_box">
                    <div class="ms_rcnt_box_img">
                        <img src="{{ url_for('static', filename=album.album_img) }}" alt="">
                        <div class="ms_main_overlay">
                            <div class="ms_box_overlay"></div>
                            <div class="ms_more_icon">
                                <img src="{{ url_for('static', filename='images/svg/more.svg') }}" alt="">
                            </div>
                            <ul class="more_option">
                                <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To
                                        Favourites</a>
                                </li>
                                <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add
                                        To Queue</a></li>
                                <li><a href="#"><span class="opt_icon"><span
                                                class="icon icon_dwn"></span></span>Download Now</a></li>
                                <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add
                                        To Playlist</a>
                                </li>
                                <li><a href="#"><span class="opt_icon"><span
                                                class="icon icon_share"></span></span>Share</a></li>
                            </ul>
                            <form action="{{ url_for('main.album_single', album_id=album.id) }}" method="GET">
                                <div class="ms_play_icon">
                                    <button class="btn" style="background-color:transparent"><img
                                            src="{{ url_for('static', filename='images/svg/play.svg') }}"
                                            alt=""></button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="ms_rcnt_box_text">
                        <h3><a href="album_single.html">{{ album.album_title }}</a></h3>
                        <p>{{ album.author_name }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- Add Arrows -->
    <div class="swiper-button-next slider_nav_next"></div>
    <div class="swiper-button-prev slider_nav_prev"></div>
</div>
<!---Featured Artists Music--->
<div class="ms_featured_slider">
    <div class="ms_heading">
        <h1>Albums By Artists</h1>
        <span class="veiw_all"><a href="#">view more</a></span>
    </div>
    <div class="ms_feature_slider swiper-container">
        <div class="swiper-wrapper">
            {% for author in authors %}
            <div class="swiper-slide">
                <div class="ms_rcnt_box">
                    <div class="ms_rcnt_box_img">
                        <img src="{{ url_for('static', filename=author.author_photo) }}" alt="">
                        <div class="ms_main_overlay">
                            <div class="ms_box_overlay"></div>
                            <div class="ms_more_icon">
                                <img src="{{ url_for('static', filename='images/svg/more.svg') }}" alt="">
                            </div>
                            <ul class="more_option">
                                <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add
                                        To Favourites</a>
                                </li>
                                <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add
                                        To
                                        Queue</a></li>
                                <li><a href="#"><span class="opt_icon"><span
                                                class="icon icon_dwn"></span></span>Download
                                        Now</a></li>
                                <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add
                                        To
                                        Playlist</a>
                                </li>
                                <li><a href="#"><span class="opt_icon"><span
                                                class="icon icon_share"></span></span>Share</a>
                                </li>
                            </ul>
                            <div class="ms_play_icon">
                                <img src="{{ url_for('static', filename='images/svg/play.svg') }}" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="ms_rcnt_box_text">
                        <h3><a href="#">{{ author.author_name }}</a></h3>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- Add Arrows -->
    <div class="swiper-button-next1 slider_nav_next"></div>
    <div class="swiper-button-prev1 slider_nav_prev"></div>
</div>
{% endblock %}