{% extends "base.html" %}
{% block content %}

<div class="ms_album_single_wrapper ms_artist_single">
    <div class="album_single_data">
        <div class="album_single_img">
            <img src="{{ url_for('static', filename=artist_single.image) }}" alt="" class="img-fluid">
        </div>
        <div class="album_single_text">
            <h2>{{ artist_single.name }}</h2>
            <p class="singer_name">Singer</p>
            <div class="about_artist">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Followers</th>
                            <th scope="col">Following</th>
                            <th scope="col">Tracks</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">{{counter_followed}}</th>
                            <td>{{counter_followers}}</td>
                            <td>{{counter_audio}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="album_btn">
                <a href="#" class="ms_btn play_btn"><span class="play_all"><img
                            src="{{ url_for('static', filename='images/svg/play_all.svg') }}" alt="">Play
                        All</span><span class="pause_all"><img src="images/svg/pause_all.svg" alt="">Pause</span></a>
                <a href="#" class="ms_btn"><span class="play_all"><img
                            src="{{ url_for('static', filename='images/svg/add_q.svg') }}" alt="">Add To
                        Queue</span></a>
                {% if current_user.is_authenticated %}
                <a href="#" class="ms_btn follow_btn {{'follow' if is_followed == None else 'unfollow'}}" id="follow"
                    followed_id="{{ artist_single.id }}">{{'Follow' if is_followed == None else 'Unfollow' }}</a>
                {% endif %}
            </div>
        </div>
        <div class="album_more_optn ms_more_icon">
            <span><img src="{{ url_for('static', filename='images/svg/more.svg') }}" alt=""></span>
        </div>
        <ul class="more_option">
            <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>
            <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>
            <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
            <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a>
            </li>
            <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
        </ul>
    </div>
    <!----Song List---->
    <div class="album_inner_list">
        <div class="album_list_wrapper">
            <ul class="album_list_name">
                <li>#</li>
                <li>Song Title</li>
                <li>Artist</li>
                <li class="text-center">Duration</li>
                <li class="text-center">Add To Favourites</li>
                <li class="text-center">More</li>
            </ul>
            {% for audio in audios %}
            <ul>
                <li><a href="#"><span class="play_no">{{ loop.index }}</span><span class="play_hover ms_play_icon"
                            musics="{{ audios }}" music_source="{{ audio.source }}" artist_name="{{ audio.name }}"
                            music_id="{{ audio.id }}" music_title="{{ audio.title }}"
                            album_img="/static/images/blank.jpg"></span></a></li>
                <li><a href="#">{{ audio.title}}</a></li>
                <li><a href="#">{{ audio.name }}</a></li>
                <li class="text-center"><a href="#">5:26</a></li>
                <li class="text-center"><i class="far fa-heart text-white" style="font-size: 24px"></i></li>
                <li class="text-center ms_more_icon"><a href="javascript:;"><span
                            class="ms_icon1 ms_active_icon"></span></a>
                    <ul class="more_option">
                        <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To
                                Favourites</a></li>
                        <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To
                                Queue</a></li>
                        <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download
                                Now</a></li>
                        <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To
                                Playlist</a></li>
                        <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a>
                        </li>
                    </ul>
                </li>
            </ul>
            {% endfor %}
        </div>
    </div>
    <div class="ms_view_more padder_bottom20">
        <a href="#" class="ms_btn">view more</a>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.follow_btn').click(function () {
            let el = $(this)
            let action = 'follow';
            let firstClass = 'follow';
            let firstText = 'Follow'
            let secondClass = 'unfollow';
            let secondText = 'Unfollow'

            if (el.hasClass('unfollow')) {
                action = 'unfollow';
                firstClass = 'unfollow';
                firstText = 'Unfollow';
                secondClass = 'follow';
                secondText = 'Follow';
            }
            $.ajax({
                type: "POST",
                url: "/following/" + action,
                data: {
                    followed_id: $(this).attr("followed_id")
                },
                success: function (resp) {
                    el.removeClass(firstClass).addClass(secondClass).text(secondText)
                },
                error: function (error) {
                    console.log(error)
                }
            })
        })
    })
</script>
{% endblock %}