{% extends "base.html" %}
{% block content %}
<div class="ms_free_download ms_purchase_wrapper">
    <div class="ms_heading">
        <h1>Your Favourites</h1>
    </div>
    <div class="album_inner_list">
        <div class="album_list_wrapper">
            <ul class="album_list_name">
                <li>#</li>
                <li>Song Title</li>
                <li>Album</li>
                <li class="text-center">Price</li>
                <li class="text-center">Duration</li>
                <li class="text-center">More</li>
                <li class="text-center">Remove</li>
                <li class="text-center">Favourites</li>
            </ul>
            {% for music in musics %}
            <ul>
                <li><a href="#"><span class="play_no">{{ loop.index }}</span><span class="play_hover"></span></a>
                </li>
                <li><a href="#">{{ music.music_title }}</a></li>
                <li><a href="#">{{ music.album_title }}</a></li>
                <li class="text-center"><a href="#">Free</a></li>
                <li class="text-center"><a href="#">5:26</a></li>
                <li class="text-center ms_more_icon"><a href="javascript:;"><span
                            class="ms_icon1 ms_active_icon"></span></a>
                    <ul class="more_option">
                        <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add
                                To Favourites</a></li>
                        <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To
                                Queue</a></li>
                        <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download
                                Now</a></li>
                        <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To
                                Playlist</a></li>
                        <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a>
                        </li>
                    </ul>
                </li>
                <li class="text-center">
                    <form action="{{url_for('main.favourites')}}" method="POST">
                        <button class="btn text-danger" style="background-color:transparent"><svg
                                xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                                <path
                                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
                            </svg></button>
                            <input type="hidden" name="music_id" value="{{ music.id }}">
                    </form>
                </li>

                <li class="text-center"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
                    </svg></li>
            </ul>
            {% endfor %}
            <div class="ms_view_more">
                <a href="#" class="ms_btn">view more</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}