{% extends "base.html" %}
{% block content %}
<!----Top Genres Section Start---->
<div class="ms_genres_wrapper">
    <div class="row">
        <div class="col-lg-12">
            <div class="ms_heading">
                <h1>Top Genres</h1>
                <span class="veiw_all"><a href="#">view more</a></span>
            </div>
        </div>
        {% for genre in genres %}
        {% if loop.index == 1 %}
        <div class="col-lg-4">
            <div class="ms_genres_box">
                <img src="{{ url_for('static', filename=genre.genre_img) }}" alt="" class="img-fluid" />
                <div class="ms_main_overlay">
                    <div class="ms_box_overlay"></div>
                    <div class="ms_play_icon">
                        <img src="{{ url_for('static', filename='images/svg/play.svg') }}" alt="">
                    </div>
                    <div class="ovrly_text_div">
                        <span class="ovrly_text1"><a href="#">{{ genre.genre_name }}</a></span>
                        <span class="ovrly_text2"><a href="#">view song</a></span>
                    </div>
                </div>
                <div class="ms_box_overlay_on">
                    <div class="ovrly_text_div">
                        <span class="ovrly_text1"><a href="#">{{ genre.genre_name }}</a></span>
                        <span class="ovrly_text2"><a href="#">view song</a></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="row">
                {% elif loop.index == 2%}
                <div class="col-lg-4">
                    <div class="ms_genres_box">
                        <img src="{{ url_for('static', filename=genre.genre_img) }}" alt="" class="img-fluid" />
                        <div class="ms_main_overlay">
                            <div class="ms_box_overlay"></div>
                            <div class="ms_play_icon">
                                <img src="{{ url_for('static', filename='images/svg/play.svg') }}" alt="">
                            </div>
                            <div class="ovrly_text_div">
                                <span class="ovrly_text1"><a href="#">{{ genre.genre_name }}</a></span>
                            </div>
                        </div>
                        <div class="ms_box_overlay_on">
                            <div class="ovrly_text_div">
                                <span class="ovrly_text1"><a href="#">{{ genre.genre_name }}</a></span>
                            </div>
                        </div>
                    </div>
                </div>
                {% elif loop.index == 3%}
                <div class="col-lg-8">
                    <div class="ms_genres_box">
                        <img src="{{ url_for('static', filename=genre.genre_img) }}" alt="" class="img-fluid" />
                        <div class="ms_main_overlay">
                            <div class="ms_box_overlay"></div>
                            <div class="ms_play_icon">
                                <img src="{{ url_for('static', filename='images/svg/play.svg') }}" alt="">
                            </div>
                            <div class="ovrly_text_div">
                                <span class="ovrly_text1"><a href="#">{{ genre.genre_name }}</a></span>
                            </div>
                        </div>
                        <div class="ms_box_overlay_on">
                            <div class="ovrly_text_div">
                                <span class="ovrly_text1"><a href="#">{{ genre.genre_name }}</a></span>
                            </div>
                        </div>
                    </div>
                </div>
                {% elif loop.index == 4 %}
                <div class="col-lg-8">
                    <div class="ms_genres_box">
                        <img src="{{ url_for('static', filename=genre.genre_img) }}" alt="" class="img-fluid" />
                        <div class="ms_main_overlay">
                            <div class="ms_box_overlay"></div>
                            <div class="ms_play_icon">
                                <img src="{{ url_for('static', filename='images/svg/play.svg') }}" alt="">
                            </div>
                            <div class="ovrly_text_div">
                                <span class="ovrly_text1"><a href="#">{{ genre.genre_name }}</a></span>
                            </div>
                        </div>
                        <div class="ms_box_overlay_on">
                            <div class="ovrly_text_div">
                                <span class="ovrly_text1"><a href="#">{{ genre.genre_name }}</a></span>
                            </div>
                        </div>
                    </div>
                </div>
                {% elif loop.index == 5 %}
                <div class="col-lg-4">
                    <div class="ms_genres_box">
                        <img src="{{ url_for('static', filename=genre.genre_img) }}" alt="" class="img-fluid" />
                        <div class="ms_main_overlay">
                            <div class="ms_box_overlay"></div>
                            <div class="ms_play_icon">
                                <img src="{{ url_for('static', filename='images/svg/play.svg') }}" alt="">
                            </div>
                            <div class="ovrly_text_div">
                                <span class="ovrly_text1"><a href="#">{{ genre.genre_name }}</a></span>
                            </div>
                        </div>
                        <div class="ms_box_overlay_on">
                            <div class="ovrly_text_div">
                                <span class="ovrly_text1"><a href="#">{{ genre.genre_name }}</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% elif loop.index == 6 %}
        <div class="col-lg-2">
            <div class="ms_genres_box">
                <img src="{{ url_for('static', filename=genre.genre_img) }}" alt="" class="img-fluid" />
                <div class="ms_main_overlay">
                    <div class="ms_box_overlay"></div>
                    <div class="ms_play_icon">
                        <img src="{{ url_for('static', filename='images/svg/play.svg') }}" alt="">
                    </div>
                    <div class="ovrly_text_div">
                        <span class="ovrly_text1"><a href="#">{{ genre.genre_name }}</a></span>
                    </div>
                </div>
                <div class="ms_box_overlay_on">
                    <div class="ovrly_text_div">
                        <span class="ovrly_text1"><a href="#">{{ genre.genre_name }}</a></span>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}