{% extends "base.html" %}
{% block content %}
<!----Edit Profile Wrapper Start---->
<div class="ms_profile_wrapper">
    <h1>Upload</h1>
    <div class="ms_profile_box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }}
        </div>
        {% endif %}
        {% endwith %}
        <form action="" method="POST" enctype="multipart/form-data">
            <div class="ms_pro_form">
                <div class="form-group">
                    <label>Music Title *</label>
                    <input type="text" class="form-control" name="title" required>
                </div>
                <div class="ui-widget">
                    <label for="tags">Upload File(s):</label>
                    <input type="file" class="form-control" name="file" placeholder="select a file to upload" required>
                    <br />
                    <input type="submit" name="submit" class="btn btn-success btn-lg btn-block" value="Upload File(s)">
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}